/*From https://stibarc.gq */
body {
    background-color: #98DFF3;
    word-wrap: break-word;
    touch-action: manipulation;
    overflow-y: auto;
    font-family: Verdana,sans-serif;
    line-height: 1.41;
    color: white;
}

#header {
    background-color: #49b9ca;
    word-wrap: break-word;
    padding: 15px;
    border-radius: 15px;
}

.button {
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 1px 5px rgba(77, 77, 77, 0.32);
    transition: all 0.2s;
}

.button a {
	text-decoration: none; 
}

.button:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
}

a:link {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none
}

.default-footer {
    background-color: #49b9ca;
    color: white;
    text-align: center;
    word-wrap: break-word;
    padding: 15px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.loader {
    border: 12px solid #98DFF3;
    border-radius: 50%;
    border-top: 12px solid white;
    border-right: 12px solid white;
    border-bottom: 12px solid white;
    width: 75px;
    height: 75px;
    -webkit-animation: spin 0.4s linear infinite;
    animation: spin 0.4s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#centerback {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#logo {
    display: inline-block;
    width: 20%;
}

@media only screen and (max-width: 700px) {
    #logo {
        width: 30vw;
    }
}

.buttons {
    display: inline-block;
    float: right;
    font-weight: bold;
}

.darkbutton {
    display: none;
    text-align: center;
    background-color: black;
    color: white;
    padding: 6px;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
}

span {
    display: inline-block;
}

.navbutton {
    font-size: 115%;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.2s;
    display: inline-block;
}

.navbutton a {
    text-decoration: none;
}

.navbutton:hover {
    background-color: rgba(0, 0, 0, 0.14);
}

a {
    color: #49b9ca;
    text-decoration: none;
}

.active {
    background-color: rgba(0, 0, 0, 0.14);
    padding: 12px;
    border-radius: 5px;
    transition: all 0.2s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdowns {
    text-decoration: none;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.2s;
    display: inline-block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
}
.center-text {
    display: inline-block;
    text-align: center;
}

@media (min-width:700px) {
    .center-text {
        text-align: left;
        padding: 15px;
    }
}

.themain {
    border-radius: 15px;
    background-color: white;
    word-wrap: break-word;
    padding: 15px;
}

.stibarc-intro {
    background-image: url("index_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 700px;
}

#logo-2 {
    display: inline-block;
    width: 20%;
}

@media only screen and (max-width: 700px) {
    #logo-2 {
        width: 55vw;
    }
}

hr.on-index {
    border: 1px solid rgba(255, 255, 255, 0.23);
}

hr.on-index2- {
    border: black;
}

.button-on-image {
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.45);
    color: black;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: rgba(255, 255, 255, 0.23);
    transition: all 0.2s;
}

    .button-on-image a {
        text-decoration: none;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

.button-on-image:hover {
    background-color: white;
}

.stibarc-messenger-intro {
    background-image: url("index_messenger_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 700px;
}

#copyright {
    background-color: #44a1af;
    text-align: center;
    word-wrap: break-word;
    padding: 15px;
    border-radius: 15px;
}

.stibarc-team-intro {
    background-image: url("team_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 800px;
}

@media only screen and (max-width: 900px) {
    .stibarc-team-intro {
        height: 1600px;
    }
}

.avatar {
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
}

@media only screen and (max-width: 500px) {
    .avatar {
        width: 35vw;
    }
}

.noimage {
    color: black;
    text-align: center;
}

.largertext {
   font-size: 150%;
}

.avatar-2 {
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
    width: 300px;
    transition: all 0.2s;
}

    .avatar-2:hover {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 1.5);
    }

@media only screen and (max-width: 1300px) {
    .avatar-2 {
        width: 250px;
    }
}

#screenshots {
    transition: all 0.2s;
    border-radius: 15px;
    display: inline-block;
    width: 410px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
}

@media only screen and (max-width: 700px) {
    #screenshots {
        width: 290px;
    }
}

.main-stibarc {
    background-image: url("stibarc_main.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 500px;
}

.icondis {
    border-radius: 25px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
    width: 300px;
    text-align: right;
    float: right;
    margin-top: 100px;
}

@media only screen and (max-width: 700px) {
    .icondis {
        width: 175px;
        margin-top: 150px;
    }
    .distext {
        margin-top: 125px;
    }
}

.distext {
    text-align: right;
    margin-top: 175px;
    float: left;
}